Deploy-AzTemplate.ps1
SideLoad-AzCreateUIDefinition.ps1

**/templates/azuredeploy.parameters.json
**/templates/installation_script.ps1
**/templates/installer
**/templates/DSC

*.txt
*.log

# secrets
**/*.pfx
**/*.cer

.vscode
.build

