Deploy-AzTemplate.ps1
SideLoad-AzCreateUIDefinition.ps1

azuredeploy.parameters*json
**/templates/installation_script.ps1
**/templates/installer
**/templates/DSC

SolarWinds-Orion-Installer.exe

*.txt
*.log

# secrets
**/*.pfx
**/*.cer

.vscode
.build

